.container {
  width: 100%;
  padding: 166px 48px 132px;
  background-image: url(../../../assets/images/bottomCta.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 620px;

  display: flex;
  justify-content: space-between;
  gap: 115px;
}

.form {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    text-align: left;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
  }
}

.box {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 17px;

  input {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.09);

    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.05em;
    text-align: left;

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.2px;
      letter-spacing: 0.05em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.box_line {
  width: 100%;

  display: flex;
  gap: 20px;
}

.inputName {
  flex: 3;
}

.inputTelephone {
  flex: 2;
}

.inputEmail {
  flex: 1;
}

.inputDescription {
  flex: 1;

  width: 100%;
  padding: 16px 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.09);

  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.05em;
  text-align: left;

  &::placeholder {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.05em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}

.information {
  width: 550px;

  display: flex;
  flex-direction: column;
  gap: 52px;
}

.information_header {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
  }
}

.information_content {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.information_line {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 250, 244, 1);

  display: flex;
  gap: 44.5px;
  align-items: center;

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
  }
}
