.container {
  width: 100%;
  padding: 100px 48px 56px;
  background-image: url(../../../assets/images/bottomCta.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 490px;

  display: flex;
  justify-content: space-between;
  gap: 115px;
}

.form {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    text-align: left;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
  }
}

.box {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 17px;

  input {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.09);

    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.05em;
    text-align: left;

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.2px;
      letter-spacing: 0.05em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.box_line {
  width: 100%;

  display: flex;
  gap: 20px;
}

.inputName {
  flex: 3;
}

.inputTelephone {
  flex: 2;
}

.inputDescription {
  flex: 1;

  width: 100%;
  padding: 16px 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.09);

  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.05em;
  text-align: left;

  &::placeholder {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.05em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}

.information {
  width: 550px;

  display: flex;
  flex-direction: column;
  gap: 52px;
}

.information_header {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
  }
}

.information_content {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.information_line {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 250, 244, 1);

  display: flex;
  gap: 44.5px;
  align-items: center;

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
  }
}

@media (max-width: 1200px) {
  .container {
    background-position-y: 590px;
  }

  .information {
    width: 40%;
  }
}

@media (max-width: 900px) {
  .container {
    gap: 48px;
  }

  .header {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 14px;
    }
  }

  .box {
    input {
      font-size: 14px;
      padding: 14px;

      &::placeholder {
        font-size: 14px;
      }
    }
  }

  .inputDescription {
    font-size: 14px;
    padding: 14px;

    &::placeholder {
      font-size: 14px;
    }
  }

  .information_header {
    h4 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }
  }

  .information_line {
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    background-position-y: 920px;
    padding: 100px 24px 56px;
  }

  .information {
    width: 100%;
  }

  .information_content {
    gap: 20px;
  }

  .information_line {
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 70px 24px 56px;
    background-position-y: 970px;
  }

  .header {
    h1 {
      font-size: 38px;
    }

    p {
      font-size: 12px;
    }
  }

  .box {
    input {
      font-size: 12px;
      padding: 12px;

      &::placeholder {
        font-size: 12px;
      }
    }
  }

  .inputDescription {
    font-size: 12px;
    padding: 12px;

    &::placeholder {
      font-size: 12px;
    }
  }

  .information_header {
    h4 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }
  }

  .information_line {
    p {
      font-size: 12px;
    }
  }
}
