.container {
  width: 100%;
  padding: 100px 48px;

  display: flex;
  flex-direction: column;
  gap: 108px;
  align-items: center;
  overflow: hidden;
}

.header {
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  text-align: left;
}

.content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 126px;
}

.content_left {
  min-width: 650px;
  height: 560px;
  position: relative;
}

.img {
  width: 318px;
  position: absolute;
  left: 70px;
  top: 110px;
  overflow: hidden;
}

.icon_Arc {
  width: 180px;
  position: absolute;
  top: 0;
  left: 345px;
}

.text_box {
  width: 151.65px;
  padding: 14px 39px;
  background: rgba(255, 255, 255, 0.17);
  border: 1px solid rgba(255, 255, 255, 0.34);
  border-radius: 10px;
  position: absolute;

  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.text_box_1 {
  top: 350px;
  left: 0;
}

.text_box_2 {
  top: 55px;
  left: 70px;
}

.text_box_3 {
  top: 240px;
  left: 305px;
}

.icon_1 {
  width: 80px;
  height: 80px;
  border-radius: 999px;
  position: absolute;
  top: 25px;
  right: 70px;
}

.icon_2 {
  width: 80px;
  height: 80px;
  border-radius: 999px;
  position: absolute;
  top: 115px;
  right: 15px;
}

.icon_3 {
  width: 80px;
  height: 80px;
  border-radius: 999px;
  position: absolute;
  top: 245px;
  right: 10px;
}

.icon_4 {
  width: 80px;
  height: 80px;
  border-radius: 999px;
  position: absolute;
  top: 355px;
  right: 25px;
}

.icon_5 {
  width: 80px;
  height: 80px;
  border-radius: 999px;
  position: absolute;
  top: 475px;
  right: 75px;
}

.content_right {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.content_box {
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content_header {
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  text-align: left;
}

.content_sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.content_img {
  width: 100%;
  max-height: 450px;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.select_icon {
  background: linear-gradient(
    89.68deg,
    #f1b078 -20.43%,
    #e3934d 6.5%,
    #df8f49 32.15%,
    #b56824 69.73%,
    #685117 128.94%
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1400px) {
  .content_left {
    min-width: 550px;
  }

  .content {
    gap: 50px;
  }

  .icon_Arc {
    transform: scale(0.8);
    left: 260px;
  }

  .img {
    transform: scale(0.8);
    left: 25px;
  }

  .text_box {
    transform: scale(0.8);
  }

  .text_box_2 {
    top: 90px;
    left: 30px;
  }

  .text_box_3 {
    left: 230px;
  }
}

/* Responsive */

@media (max-width: 1200px) {
  .container {
    padding: 70px 24px 56px;
  }

  .content_left {
    min-width: 300px;
    overflow: hidden;
  }

  .text_box {
    display: none;
  }

  .img {
    transform: scale(0.8);
    left: -70%;
  }

  .icon_Arc {
    left: 0px;
  }
}

@media (max-width: 1024px) {
  .container {
    gap: 20px;
  }

  .content {
    flex-direction: column;
    gap: 40px;
  }

  .icon_Arc {
    display: none;
  }

  .img {
    display: none;
  }

  .content_left {
    height: auto;
  }

  .content_button {
    display: flex;
    gap: 30px;

    button {
      position: relative;
      left: 0;
      top: 0;
    }
  }

  .content_header {
    text-align: center;
  }

  .content_sub {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .header {
    font-size: 48px;
  }

  .content_header {
    font-size: 34px;
  }

  .content_sub {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 40px;
  }

  .content_left {
    transform: scale(0.8);
  }

  .content_img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }

  .container {
    padding: 70px 24px 56px;
    gap: 30px;
  }

  .content_left {
    width: 140%;
    transform: scale(0.7);
  }

  .content {
    gap: 20px;
  }

  .content_button {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }

  .content_header {
    font-size: 32px;
    line-height: 32px;
  }

  .content_sub {
    font-size: 12px;
    text-align: justify;
  }
}

@media (max-height: 428px) {
  .container {
    padding: 10px 20px;
    gap: 12px;
  }

  .header {
    font-size: 28px;
    line-height: 28px;
  }

  .content {
    gap: 20px;
  }

  .content_right {
    gap: 10px;
  }

  .content_header {
    font-size: 20px;
    line-height: 20px;
  }

  .content_sub {
    font-size: 12px;
  }

  .content_box {
    gap: 10px;
  }

  .content_button {
    button {
      transform: scale(0.8);
    }
  }

  .content_img {
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
      width: auto;
      height: 300px;
    }
  }
}
