.container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  position: absolute;
}

.box {
  display: flex;
  gap: 78px;

  position: absolute;
  top: 343.25px;
  left: 971.84px;
}

.box_line {
  display: flex;
  align-items: center;
  gap: 20px;

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-transform: uppercase;
  }
}

.dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 250, 244, 1);
  border-radius: 999px;
}

.content {
  padding: 25px 36px;

  height: 205px;
  width: 341px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  position: relative;
  z-index: 1999;
}

.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.07);
  z-index: -1;
  border-radius: 10px;

  clip-path: polygon(
    0 24%,
    14% 0,
    100% 0,
    100% 100%,
    54% 100%,
    39% 75%,
    0 75%,
    0 41%
  );
  backdrop-filter: blur(10px);
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justified;
}

.btn {
  opacity: 1;
  display: flex;
  gap: 14px;
  align-items: center;

  position: absolute;
  right: 25px;
  bottom: 20px;
  z-index: 9999;
}

.btn_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justified;
  color: var(--color-white);
}

.line {
  max-width: 400px;
  width: 20%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 200px;
  right: 70px;
}

.content_1 {
  top: 609.62px;
  left: 167px;
}

.content_2 {
  top: 609.62px;
  left: 253.32px;
}

.content_3 {
  top: 609.62px;
  left: 288px;
}

.content_4 {
  top: 609.62px;
  left: 542px;
}

.action_line {
  animation: actionLine 2s ease;
}

.action {
  animation: action 2s ease-in;
}

@keyframes actionLine {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 20%;
  }
}

@keyframes action {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 1280px) {
  .box {
    top: auto;
    bottom: 80px;
    left: auto;
    right: 100px;
  }
  .content_1 {
    top: 450px;
    left: 167px;
  }

  .content_2 {
    top: 450px;
    left: 253.32px;
  }

  .content_3 {
    top: 450px;
    left: 288px;
  }

  .content_4 {
    top: 450px;
    left: 542px;
  }

  .line {
    top: 100px;
  }
}

@media (max-width: 1200px) {
  .line {
    display: none;
  }

  .box {
    top: auto;
    bottom: 80px;
    left: auto;
    right: 100px;
  }

  .content_1 {
    top: 480px;
    left: 400px;
  }

  .content_2 {
    top: 480px;
    left: 400px;
  }

  .content_3 {
    top: 480px;
    left: 400px;
  }

  .content_4 {
    top: 480px;
    left: 400px;
  }
}

@media (max-width: 1114px) {
  .content_1 {
    top: 250px;
    left: 500px;
  }

  .content_2 {
    top: 250px;
    left: 650px;
  }

  .content_3 {
    top: 250px;
    left: 650px;
  }

  .content_4 {
    top: 250px;
    left: 450px;
  }
}

@media (max-width: 900px) {
  .content_1 {
    right: -400px;
    left: auto;
  }

  .content_2 {
    right: -500px;
    left: auto;
  }

  .content_3 {
    right: -400px;
    left: auto;
  }

  .content_4 {
    right: -400px;
    left: auto;
  }
}

@media (max-width: 768px) {
  .box {
    bottom: 80px;
    right: 50%;
    transform: translateX(50%);
  }

  .content_1 {
    left: 50%;
  }

  .content_2 {
    right: -350px;
  }

  .content_3 {
    right: -350px;
  }

  .content_4 {
    right: -350px;
  }
}

@media (max-width: 480px) {
  .content_1 {
    top: 60%;
    left: 20%;
  }

  .content_2 {
    top: 60%;
    left: 20%;
  }

  .content_3 {
    top: 60%;
    left: 20%;
  }

  .content_4 {
    top: 60%;
    left: 20%;
  }

  .content {
    transform: scale(0.6);
  }

  @keyframes action {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }

    100% {
      opacity: 1;
      transform: scale(0.6);
    }
  }
}

@media (max-width: 375px) {
  .content_1 {
    top: 55%;
    left: 25%;
  }

  .content_2 {
    top: 55%;
    left: 25%;
  }

  .content_3 {
    top: 55%;
    left: 25%;
  }

  .content_4 {
    top: 55%;
    left: 25%;
  }

  .dot {
    width: 8px;
    height: 8px;
  }

  .box {
    bottom: 70px;
  }

  .box_line {
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 320px) {
  .box {
    flex-direction: column;
    gap: 10px;

    left: 30px;
    transform: translateX(0);
    bottom: 20px;
  }

  .box_line {
    p {
      font-size: 12px;
    }
  }

  .content {
    transform: scale(0.5);
  }

  .content_1 {
    top: 48%;
    left: 18%;
  }

  .content_2 {
    top: 48%;
    left: 18%;
  }

  .content_3 {
    top: 48%;
    left: 18%;
  }

  .content_4 {
    top: 48%;
    left: 18%;
  }
}

@media (max-height: 428px) {
  .box {
    left: 30px;
    transform: translateX(0);
    bottom: 20px;
  }

  .box_line {
    p {
      font-size: 12px;
    }
  }

  .content {
    transform: scale(0.8);
  }

  .content_1 {
    top: 32%;
    left: 62%;
  }

  .content_2 {
    top: 32%;
    left: 62%;
  }

  .content_3 {
    top: 32%;
    left: 62%;
  }

  .content_4 {
    top: 32%;
    left: 62%;
  }
}

@media (max-height: 390px) {
  .content_1 {
    top: 30%;
    left: 55%;
  }

  .content_2 {
    top: 30%;
    left: 55%;
  }

  .content_3 {
    top: 30%;
    left: 55%;
  }

  .content_4 {
    top: 30%;
    left: 55%;
  }
}

@media (max-height: 320px) {
  .box {
    gap: 20px;
    left: 70px;
    transform: translateX(0);
    bottom: 27px;
  }

  .content {
    transform: scale(0.6);
  }

  .content_1 {
    top: 28%;
    left: 50%;
  }

  .content_2 {
    top: 28%;
    left: 50%;
  }

  .content_3 {
    top: 28%;
    left: 50%;
  }

  .content_4 {
    top: 28%;
    left: 50%;
  }
}
