/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "./variables.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-black);
  min-height: 100vh;
  height: 100%;
}

section {
  scroll-snap-align: start;
}
a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

button {
  background-color: transparent;
}

a,
button,
input {
  border: 0;
  outline: 0;
  color: inherit;
}

li,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--color-black);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-white);
}

.slick-list {
  height: 100% !important;
}
