.container {
  width: 100%;
  max-width: 1440px;
  padding: 100px 48px;

  display: flex;
  flex-wrap: wrap;
  gap: 46px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  width: 300px;
  height: 400px;
  padding: 37px 28px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.46);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  transform: translateY(var(--translate-value));
}

.header {
  font-size: 56px;
  font-weight: 600;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: left;

  background: linear-gradient(76.84deg, #c36029 6.74%, #d19600 92.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_member {
  width: 300px;
  height: 400px;
  padding: 24px 20px;
  border-radius: 20px;

  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: end;
  transform: translateY(var(--translate-value));
}

.box {
  padding: 10px 16px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.01);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.position {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.content_box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content_header {
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  letter-spacing: -0.01em;
  text-align: left;
}

.content_sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}

.box_responsive {
  width: 300px;
  height: 400px;
  display: none;
}

/* Responsive */
@media (max-width: 1433px) {
  .box_responsive {
    display: block;
  }
}

@media (max-width: 1200px) {
  .box_responsive {
    display: none;
  }
  .container {
    gap: 40px;
  }

  .card {
    width: 240px;
    height: 320px;
  }

  .card_member {
    width: 240px;
    height: 320px;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 1175px) {
  .box_responsive {
    display: block;
    width: 240px;
    height: 320px;
  }
}

@media (max-width: 900px) {
  .header {
    font-size: 48px;
  }

  .sub {
    font-size: 14px;
  }

  .name {
    font-size: 18px;
  }
  .position {
    font-size: 14px;
  }

  .content_header {
    font-size: 34px;
  }

  .content_sub {
    font-size: 14px;
  }
}

@media (max-width: 895px) {
  .box_responsive {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 20px;

    padding: 100px 24px 56px;
  }

  .card {
    width: 180px;
    height: 260px;
    p {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .box_responsive {
    display: block;
    width: 180px;
    height: 260px;
  }

  .header {
    font-size: 40px;
    line-height: 44px;
  }

  .card_member {
    width: 180px;
    height: 260px;
  }

  .box {
    padding: 8px 10px;
    gap: 8px;
  }
  .content_header {
    font-size: 32px;
    line-height: 32px;
  }

  .name {
    font-size: 16px;
    line-height: 16px;
  }

  .position {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 627px) {
  .box_responsive {
    display: none;
  }
}

@media (max-width: 580px) {
  .card {
    width: 160px;
    height: 240px;
  }

  .box_responsive {
    display: block;
    width: 160px;
    height: 240px;
  }

  .card_member {
    width: 160px;
    height: 240px;
  }
}

@media (max-width: 567px) {
  .box_responsive {
    display: none;
    width: 160px;
    height: 240px;
  }
}

@media (max-width: 480px) {
  .container {
    gap: 20px;
    padding: 70px 24px 56px;
  }

  .card {
    width: 145px;
    height: 200px;
    padding: 10px 12px;
    p {
      font-size: 11px;
      line-height: 10px;
    }
  }

  .card_btn {
    padding: 8px;
  }

  .box {
    padding: 4px 8px;
  }

  .card_member {
    width: 145px;
    height: 200px;
    padding: 8px;
  }

  .name {
    font-size: 12px;
    line-height: 12px;
  }

  .position {
    font-size: 12px;
    line-height: 12px;
  }
  .box_responsive {
    display: none;
  }
}

@media (max-width: 320px) {
  .card {
    width: 126px;
    height: 210px;
    p {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .header {
    font-size: 38px;
    line-height: 44px;
  }

  .card_member {
    width: 126px;
    height: 210px;
  }

  .box {
    padding: 8px 10px;
    gap: 8px;
  }
  .content_header {
    font-size: 20px;
    line-height: 20px;
  }

  .name {
    font-size: 14px;
    line-height: 14px;
  }

  .position {
    font-size: 12px;
    line-height: 12px;
  }
}

@media (max-height: 428px) {
  .container {
    padding: 10px 20px 20px;
  }

  .header {
    font-size: 28px;
    line-height: 28px;
  }

  .sub {
    font-size: 12px;
    line-height: 12px;
  }

  .content_header {
    font-size: 20px;
    line-height: 20px;
  }

  .content_sub {
    font-size: 12px;
    line-height: 12px;
  }

  .card {
    width: 200px;
    height: 260px;
  }

  .card_member {
    width: 200px;
    height: 260px;
  }

  .box_responsive {
    display: block;
    width: 200px;
    height: 260px;
  }
}

@media (max-height: 320px) {
  .box_responsive {
    display: none;
  }
}
