.container {
  width: 100%;
  padding: 100px 48px;

  display: flex;
  flex-direction: column;
  gap: 128px;
  overflow: hidden;
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    width: 460.42px;
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    text-align: left;
  }
}

.sub {
  width: 530.26px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.02em;
  text-align: left;
}

.content {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* Animation up */

.action_up {
  animation: slideUp 1s ease;
}

.action_up_close {
  animation: slideUpClose 1s ease-in;
  opacity: 0.5;
  transform: translateY(150px);
}

@keyframes slideUp {
  from {
    opacity: 0.5;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpClose {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.5;
    transform: translateY(150px);
  }
}

/* Animation up img */

.action_upImg {
  animation: slideUpImg 1s ease-in;
  transform: translateY(0);
}

.action_upImg_close {
  animation: slideUpImgClose 1s ease;
  transform: translateY(100px);
}

@keyframes slideUpImg {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpImgClose {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100px);
  }
}

/* Animation opacity */

.action_opacity {
  animation: slideOpacity 1s ease-in;
  opacity: 1;
}

.action_opacity_close {
  animation: slideOpacityClose 1s ease-in;
  opacity: 0;
}

@keyframes slideOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideOpacityClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Animation Close */

.action_close_opacity {
  animation: slideCloseOpacity 1s ease-in;
  opacity: 0.5;
}

.action_open_opacity {
  animation: slideOpenOpacity 1s ease-in;
  opacity: 1;
}

@keyframes slideCloseOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes slideOpenOpacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* Responsive */

@media (max-width: 900px) {
  .sub {
    width: 100%;
    font-size: 20px;
  }

  .header {
    flex-direction: column;
    align-items: start;
    gap: 15px;

    h1 {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 100px 24px;
  }

  .action_upImg_close {
    transform: translateY(0);
  }

  @keyframes slideUpImg {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slideUpImgClose {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(0);
    }
  }
}

@media (max-width: 480px) {
  .container {
    gap: 30px;
    padding: 70px 48px 56px;
  }

  .header {
    h1 {
      font-size: 40px;
    }
  }

  .sub {
    font-size: 18px;
  }
}
