@import "../../../styles/variables.css";

.container {
  padding: 110px 48px 53px 48px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;
  align-items: center;
}

.item {
  width: 100%;
  padding-bottom: 10px;
  cursor: pointer;

  border-bottom: 1px solid rgba(255, 250, 244, 1);
}

.header {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;

  h1 {
    flex: 1;

    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: left;
  }
}

.id {
  width: 318px;

  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
}

.box_content {
  max-width: 1000px;
  padding-top: 16px;
  margin-left: 342px;
  height: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: space-between;
}

.content {
  width: 660px;
  opacity: 0.6;

  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
}

.list_img {
  width: 100%;

  display: flex;
  gap: 30px;
  align-items: start;
  justify-content: space-between;
}

.img_1 {
  width: 204px;

  overflow: hidden;
  border-radius: 4px;

  img {
    height: 224px;
  }
}

.img_2 {
  width: 546px;
  overflow: hidden;
  border-radius: 8px;

  img {
    height: 446px;
  }
}

.open {
  animation: open 0.5s ease-in;
  opacity: 1;
  height: 100%;
}

.close {
  animation: close 0.5s ease-in;
  opacity: 0;
  height: 0;
}

@keyframes open {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 540px;
  }
}

@keyframes close {
  0% {
    opacity: 1;
    height: 540px;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

/* Animation Opacity */

.action_opacity {
  animation: slideOpacity 1s ease;
}

.action_opacity_close {
  animation: slideOpacityClose 1s ease;
  opacity: 0.5;
}

@keyframes slideOpacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideOpacityClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
