.container {
  width: 100%;
  padding: 100px 48px;
  margin-top: 60px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: rgba(255, 214, 153, 1);
  }
}

.header_text {
  width: 620px;
  font-size: 56px;
  font-weight: 500;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: left;
}

.sub {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  letter-spacing: -0.02em;
  text-align: left;
  opacity: 0.5;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.dot {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  background: rgba(255, 250, 244, 1);
  border-radius: 999px;

  position: absolute;
  left: 0;
}

.dot_1 {
  top: 0;
  transform: translate(-50%, -50%);
}
.dot_2 {
  bottom: 0;
  transform: translate(-50%, 50%);
}
.dot_3 {
  top: 0;
  transform: translate(-50%, -50%);
}
.dot_4 {
  bottom: 0;
  transform: translate(-50%, 50%);
}

.line_1 {
  width: 100%;
  height: 284px;

  display: flex;
  justify-content: end;
}

.line_2 {
  width: 100%;
  height: 284px;

  display: flex;
  justify-content: start;
}

.box {
  width: 535px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.box_content {
  width: 391px;
}

.container_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content_header {
  width: 100%;

  display: flex;
  gap: 10px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(255, 214, 153, 1);
}

.content_id {
  padding-right: 10px;
  border-right: 1px solid rgba(255, 214, 153, 1);
}

.content_sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}

.line {
  width: 100%;
  height: 1px;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) 36.5%,
    rgba(17, 17, 17, 0.4) 100%
  );
}

.box_line {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  bottom: 0;
  border-left: 1px dashed rgba(255, 255, 255, 1);
}

.box_line_bottom {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 1px dashed rgba(255, 255, 255, 1);
}

.content_responsive {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

@media (max-width: 1200px) {
  .container {
    padding: 70px 24px 56px;
    gap: 30px;
  }

  .header {
    flex-direction: column;
    align-items: start;
  }

  .content {
    display: none;
  }

  .content_responsive {
    display: flex;
    position: relative;
  }

  .box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    border-top: 1px dashed rgba(255, 255, 255, 1);
  }

  .line {
    height: 100%;
    width: 1px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8) 36.5%,
      rgba(17, 17, 17, 0.4) 100%
    );
  }

  .header_text {
    font-size: 48px;
  }

  .sub {
    font-size: 22px;
  }

  .content_header {
    font-size: 22px;
  }

  .content_sub {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header_text {
    width: 100%;
  }

  .container_content {
    gap: 10px;
  }

  .content_responsive {
    gap: 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 70px 24px 56px;
  }

  .header_text {
    font-size: 40px;
  }

  .sub {
    font-size: 20px;
  }

  .content_header {
    font-size: 20px;
  }

  .content_sub {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .box {
    padding: 20px 0px 20px 20px;
  }

  .header_text {
    font-size: 28px;
    line-height: 28px;
  }

  .sub {
    font-size: 12px;
  }

  .content_header {
    width: 100%;
    font-size: 14px;
  }

  .content_sub {
    font-size: 12px;
  }
}

@media (max-height: 428px) {
  .container {
    padding: 20px;
  }

  .box {
    justify-content: start;
  }

  .header_text {
    font-size: 28px;
    line-height: 28px;
  }

  .sub {
    font-size: 12px;
  }

  .content_header {
    width: 100%;
    font-size: 18px;
  }

  .content_sub {
    font-size: 16px;
  }
}
