.card {
  width: 100%;
  height: 100%;
  padding: 0 48px;
  transform: translateY(160px);

  position: relative;
}

.header {
  width: 93%;
  position: absolute;
  z-index: 2;

  h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
  }

  span {
    color: var(--color-beige);
  }
}

.header_bottom {
  text-align: right;
}

.header_bottom_3 {
  text-align: left;
  padding-left: 550px;
}

.header_bottom_4 {
  text-align: left;
  padding-left: 700px;
}

.img {
  width: 451.98px;
  height: 471.17px;
  position: absolute;

  z-index: 1;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_1 {
  background-image: url(../../../assets/images/backGrDeff.gif);
  width: 451.98px;
  height: 471.17px;
  top: 187.11px;
  left: 494.01px;
}

.img_2 {
  background-image: url(../../../assets/images/imgProduct_3.gif);
  width: 678.61px;
  height: 382.06px;
  top: 170.02px;
  left: 292.71px;
}

.img_3 {
  background-image: url(../../../assets/images/imgProduct_2.gif);
  width: 585.91px;
  height: 324.54px;
  top: 215.28px;
  left: 583.99px;
}

.img_4 {
  background-image: url(../../../assets/images/imgProduct_1.gif);
  width: 386.57px;
  height: 479.74px;
  top: 134.59px;
  left: 200.75px;
}

.header_responsive {
  display: none;
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  color: var(--color-white) !important;
}

.action {
  animation: action 1.5s ease-in;
}

.action_Old {
  animation: actionOld 1.5s ease;
}

@keyframes actionOld {
  0% {
    transform: translateY(0);
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: translateY(1800px);
    transform: scale(1.6);
  }

  100% {
    transform: translateY(1000px);
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes action {
  0% {
    transform: translate(200px, -100px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 1280px) {
  .card {
    transform: translateY(60px);
  }

  .img_1 {
    top: 150px;
    left: 400px;
  }
}

@media (max-width: 1200px) {
  .card {
    transform: translateY(70px);
  }

  .header_bottom_3 {
    padding-left: 0;
    text-align: right;
  }

  .header_bottom_4 {
    padding-left: 0;
    text-align: right;
  }

  .img_1 {
    top: 170px;
    left: 100px;
  }

  .img_2 {
    top: 170px;
    left: 100px;
  }

  .img_3 {
    top: 170px;
    left: 100px;
  }

  .img_4 {
    top: 170px;
    left: 100px;
  }
}

@media (max-width: 1114px) {
  .header {
    h1 {
      font-size: 48px;
    }
  }

  .img_1 {
    height: 300px;
  }

  .img_2 {
    height: 300px;
  }

  .img_3 {
    height: 300px;
  }

  .img_4 {
    height: 300px;
  }
}

@media (max-width: 900px) {
  .header {
    h1 {
      font-size: 48px;
    }
  }
}

@media (max-width: 768px) {
  .card {
    padding: 0 24px;
  }

  .header_responsive {
    display: block;
    font-size: 48px;
  }

  .header_bottom {
    display: none;
  }

  .header_bottom_3 {
    display: none;
  }

  .header_bottom_4 {
    display: none;
  }

  .img_1 {
    top: 220px;
    width: 80%;
    height: 376.93px;
  }

  .img_2 {
    top: 220px;
    width: 80%;
    height: 376.93px;
  }

  .img_3 {
    top: 220px;
    width: 80%;
    height: 376.93px;
  }

  .img_4 {
    top: 220px;
    width: 80%;
    height: 376.93px;
  }
}

@media (max-width: 480px) {
  .header {
    h1 {
      font-size: 38px;
      line-height: 40px;
    }
  }

  .header_responsive {
    font-size: 38px;
    line-height: 40px;
  }

  .img_1 {
    top: 150px;
    width: 70%;
    height: 40%;
  }

  .img_2 {
    top: 150px;
    width: 70%;
    height: 40%;
  }

  .img_3 {
    top: 150px;
    width: 70%;
    height: 40%;
  }

  .img_4 {
    top: 150px;
    width: 70%;
    height: 40%;
  }
}

@media (max-width: 400px) {
  .header {
    h1 {
      font-size: 28px;
    }
  }

  .header_responsive {
    font-size: 28px;
  }
}

@media (max-width: 375px) {
  .card {
    transform: translateY(60px);
  }
}

@media (max-width: 320px) {
  .header {
    h1 {
      font-size: 20px;
    }
    span {
      font-size: 20px;
    }
  }

  .header_responsive {
    font-size: 20px;
  }

  .img_1 {
    top: 80px;
    left: 70px;
    width: 75%;
    height: 45%;
  }

  .img_2 {
    top: 80px;
    left: 70px;
    width: 75%;
    height: 45%;
  }

  .img_3 {
    top: 80px;
    left: 70px;
    width: 75%;
    height: 45%;
  }

  .img_4 {
    top: 80px;
    left: 70px;
    width: 75%;
    height: 45%;
  }
}

@media (max-height: 428px) {
  .card {
    transform: translateY(0);
  }

  .header {
    padding-top: 10px;
    padding-left: 44px;

    h1 {
      font-size: 28px;
      line-height: 28px;
    }
  }

  .header_responsive {
    display: block;
    font-size: 28px;
    line-height: 28px;
  }

  .header_bottom {
    display: none;
  }

  .header_bottom_3 {
    display: none;
  }

  .header_bottom_4 {
    display: none;
  }

  .img_1 {
    top: 80px;
    left: 90px;
    width: 85%;
    height: 55%;
  }

  .img_2 {
    top: 80px;
    left: 90px;
    width: 85%;
    height: 55%;
  }

  .img_3 {
    top: 80px;
    left: 90px;
    width: 85%;
    height: 55%;
  }

  .img_4 {
    top: 80px;
    left: 90px;
    width: 85%;
    height: 55%;
  }
}

@media (max-height: 320px) {
  .header {
    h1 {
      font-size: 26px;
    }
  }

  .header_responsive {
    font-size: 26px;
  }

  .img_1 {
    left: 70px;
    height: 50%;
  }

  .img_2 {
    left: 70px;
    height: 50%;
  }

  .img_3 {
    left: 70px;
    height: 50%;
  }

  .img_4 {
    left: 70px;
    height: 50%;
  }
}
