@import "../../styles/variables.css";

#header {
  width: 100%;
  padding: 10px 48px;
  background-color: rgba(79, 79, 79, 0.6);
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.4);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.list_navigator {
  display: flex;
  gap: 43px;
  align-items: center;
  justify-content: space-between;

  li {
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.5s ease;

    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
  }

  li a:hover {
    background: linear-gradient(to right, #d19600, #c36029);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.feature {
  display: flex;
  gap: 37px;
  align-items: center;
  justify-content: space-between;
}

.icon_search {
  padding: 8px 12px;
  border-right: 1px solid var(--color-white);
  height: 40px;
  cursor: pointer;
}
