.card {
  width: 100%;
  height: 100%;
  padding: 0 48px;
  transform: translateY(160px);

  position: relative;
}

.header {
  width: 100%;

  h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
  }

  span {
    color: var(--color-beige);
  }
}

.line {
  width: 400px;
  height: 1px;
  background-color: rgba(255, 255, 255, 1);

  position: absolute;
  top: 40px;
  right: 50px;
}

.box {
  display: flex;
  gap: 78px;

  position: absolute;
  right: 175px;
  top: 160px;
}

.box_line {
  display: flex;
  gap: 20px;

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-transform: uppercase;
  }
}

.dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 250, 244, 1);
  border-radius: 999px;
}

.content {
  top: 275px;
  z-index: 1;
  left: 120px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  padding: 25px 36px;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 10px;
  height: 205px;
  width: 341px;
  overflow: hidden;
}

.content:before,
.content:after {
  content: "";
  position: absolute;
  background-color: var(--color-black); /* Dark overlay for the cut effect */
}

.content:before {
  top: 230px;
  left: 43px;
  width: 200px;
  height: 200px;
  transform: rotate(-45deg) translateX(-50%);
  transform-origin: top left;
}

.content:after {
  bottom: 160px;
  left: -195px;
  width: 200px;
  height: 200px;
  transform: rotate(-45deg) translateX(50%);
  transform-origin: bottom right;
}

.content_box {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 159px;
  left: -86px;

  background-color: var(--color-black);
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justified;
}

.btn {
  display: flex;
  gap: 14px;
  align-items: center;
}

.btn_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justified;
}

.img {
  width: 451.98px;
  height: 471.17px;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);

  background-image: url(../../../assets/images/backGrDeff.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
