@import "../../../styles/variables.css";

.container_top {
  width: 100%;
  padding: 24px 16px;
  border-bottom: 1px solid var(--color-white);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;

  span {
    color: var(--color-beige);
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  text-align: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: start;
  gap: 32px;
  transform: translateX(20px);
}

.browse {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list_browse {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

.contact {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content_contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn_scoll {
  position: absolute;
  right: 48px;
  padding: 8px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  transform: translateY(-28px);
}

/* Responsive Styles */
@media (min-width: 768px) {
  .container_top {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 48px;
  }

  .header {
    width: auto;
    font-size: 36px;
    line-height: 56px;
    text-align: left;
  }

  .content {
    width: auto;
    flex-direction: row;
    gap: 60px;
    text-align: left;
    align-items: baseline;
  }

  .box {
    flex-direction: row;
    gap: 47px;
    align-items: start;
  }

  .browse,
  .contact {
    font-size: 16px;
    text-align: left;
  }

  .list_browse,
  .content_contact {
    gap: 12px;
  }
}
