@import "../../../styles/variables.css";

.container {
  height: 100vh;
  padding: 190px 48px 114px;

  display: flex;
  gap: 205px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.box_left {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: space-between;
}

.header {
  font-size: 48px;
  font-weight: 500;
  line-height: 57.6px;
  letter-spacing: -0.03em;
  text-align: left;

  span {
    color: var(--color-beige);
  }
}

.img {
  width: 100%;
  height: 633.41px;
  border-radius: 10px;
  overflow: hidden;

  background-image: url(../../../assets/images/backGrDeff.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.box_right {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: end;
  justify-content: space-between;
}

.sub {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
}

.list_box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  gap: 30px;
  align-items: start;
  justify-content: space-between;
}

/* Animation Rigth */

.action_right {
  animation: slideRight 1s ease-in;
}

.action_right_close {
  animation: slideRightClose 1s ease-in;
  opacity: 0;
  transform: translateX(-100%);
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightClose {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/* Animation Left */

.action_left {
  animation: slideLeft 1s ease-in;
}

.action_left_close {
  animation: slideLeftClose 1s ease-in;
  opacity: 0;
  transform: translateX(100%);
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeftClose {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

/* Animation Up */

.action_up {
  animation: slideUp 1s ease-in;
}

.action_up_close {
  animation: slideUpClose 1s ease-in;
  opacity: 0;
  transform: translateY(var(--value));
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(var(--value));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpClose {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(var(--value));
  }
}
